<div class="notification-container">
  <%= image_tag ("logo.svg"), class: "icone" %>

  <h3>Notifications</h3>

  <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% @offers.each do |o| %>
    <div class="notification-content">
      <%= cl_image_tag o.colocation.photos.first.key%>
      <div class="notification-infos"><span class="over-titre"><%= o.created_at.strftime("%d/%m/%Y à %Hh%M") %></span>
        <p>Votre demande pour <%= o.colocation.title %> est <%= o.status %></p></div>
    </div>
  <% end %>
    <% @owner_offers.each do |o| %>
    <div class="notification-content">
      <%= cl_image_tag o.colocation.photos.first.key%>
      <div class="notification-infos">
        <span class="over-titre"><%= o.created_at.strftime("%d/%m/%Y à %Hh%M") %></span>
        <p><%= o.user.first_name %> a fait une demande pour <%= o.colocation.title %></p>
        <div class="notifications-actions">
          <%= link_to accept_offer_path(o), method: :patch, class: 'btn-notification' do %>
            <%= icon("fas","check") %>
            Accept
          <% end %>
          <%= link_to decline_offer_path(o), method: :patch, class: 'btn-notification notification-decline'  do %>
            <%= icon("fas","times") %>
            Decline
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
