<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to colocations_path do %>
    <%= image_tag ("search.svg"), class: "icone #{'active' if controller_name == 'colocations'}" %>
  <% end %>

  <%= link_to profil_path do %>
    <%= image_tag ("profil.svg"), class: "icone #{'active' if controller_name == 'profils'}" %>
  <% end %>

  <%= link_to notification_path, id: "notification-link" do %>
    <%= image_tag ("bell.svg"), class: "icone #{'active' if controller_name == 'notifications'}" %>
    <div id="notification-bell">
      <%= render "shared/notification_bell" %>
    </div>
  <% end %>
</div>
