<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#" do %>
    <%= image_tag ("logo.svg"), class: "icone" %>
  <% end %>

  <%= link_to "#" do %>
    <%= image_tag ("search.svg"), class: "icone" %>
  <% end %>

  <%= link_to "#" do %>
    <%= image_tag ("profil.svg"), class: "icone active" %>
    <div class="notification"></div>
  <% end %>

</div>
