<div id="step_1" class="step step-active">
  <p>étape 1/3</p>
      <%= form_for current_user, url: profil_path do |f| %>
        <h4>Choisie ce qui te définie le mieux</h4> <br/>
        <div class="content_chekbox">
            <%= f.collection_check_boxes(:personality_ids, Personality.all, :id, :full_name) do |check| %>
              <%= check.check_box class:"checkbox_form" %>
              <%= check.label class:"check_text" do %>
                <%= check.text %>
              <% end %>
            <% end  %>
        </div>
        <br/><%= f.submit "next", id:"step_1_next", class:"btn-bottom" %>
      <% end %>
</div>

<div id="step_2" class="step">
  <p>étape 2/3</p>
    <%= form_for current_user, url: profil_path do |f| %>
        <h4>Choisie tes loisirs</h4><br/>
        <div class="content_chekbox">
          <%= f.collection_check_boxes(:hobby_ids, Hobby.all, :id, :full_name) do |check| %>
            <%= check.check_box class:"checkbox_form"%>
            <%= check.label class:"check_text" do %>
              <%= check.text %>
            <% end %>
          <% end  %>
        </div>
      <br/><%= f.submit "next", id:"step_2_next", class:"btn-bottom" %>
    <% end %>
</div>

<div id="step_3" class="step">
  <p>étape 3/3</p>

    <%= form_for current_user, url: profil_path do |f| %>
      <h4>choisie tes styles de colocations</h4><br/>
      <div class="content_chekbox">
        <%= f.collection_check_boxes(:goal_ids, Goal.all, :id, :full_name) do |check| %>
          <%= check.check_box class:"checkbox_form"%>
          <%= check.label class:"check_text" do %>
            <%= check.text %>
          <% end %>
        <% end  %>
      </div>
      
      <%= f.hidden_field :finished, value: "true" %>
      <br/><%= f.submit "suivant", class:"btn-bottom" %>
    <% end %>
</div>
