<div class="profil-container text-center">
  <div class="profil-pictures">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class:'w-100' %>
    <% else %>
      <%= image_tag "empty.png", class:"w-100" %>
    <% end %>
  </div>
  

  <div class="profil-content">
    <div class="user_photo_label">
      <label for="user_photo"><i class="fas fa-plus"></i></label>
      <input type="file" name="file" id="user_photo" class="add_photo"/>
    </div>
    <p class="over-titre"><%= current_user.age %> ans</p>
    <h2><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h2>

    <div class="description">
      <% if current_user.description == nil %>
        <%= current_user.description = "Pensez à revenir compléter une description pour vous décrire aux colocations intéressés !" %>
      <% end %>
    </div>

    <h2>Ce que j'aime</h2>

      <div class="content_chekbox">
        <% current_user.personalities.each do |p| %>
          <div class="jaime"><%= p.full_name %></div>
        <% end %>
        <!--<p>j'aime pas</p>-->
        <% (Personality.all - current_user.personalities).each do |p| %>
          <div class="jaime_pas"><%= p.full_name %></div>
        <% end %>
      </div>

    <h2>Mes loisirs</h2>
      <div class="content_chekbox">
        <% current_user.hobbies.each do |l| %>
          <div class="jaime"><%= l.full_name %></div>
        <% end %>
        <!--<p>j'aime pas</p>-->
        <% (Hobby.all - current_user.hobbies).each do |l| %>
          <div class="jaime_pas"><%= l.full_name %></div>
        <% end %>
      </div>

    <h2>Mes style de Colocations</h2>
      <div class="content_chekbox">
        <% current_user.goals.each do |g| %>
            <div class="jaime"><%= g.full_name %></div>
          <% end %>
          <!--<p>j'aime pas</p>-->
          <% (Goal.all - current_user.goals).each do |g| %>
            <div class="jaime_pas"><%= g.full_name %></div>
          <% end %>
        </div>

    <%= link_to "Log out ☠️", destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
