  <div class="text-center">
    <%= image_tag('logo.svg')%>
    <% @colocations.each do |colocation| %>
      <%= link_to colocation_path(colocation) do %>
        <div class="card-colocation">
          <div class="profil-pictures colocation-pictures" >
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <% colocation.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index == 0 %>">
                  <%= cl_image_tag photo.key, class:"w-100 d-block"%>
                </div>
               <% end %>
              </div>
            </div>
          </div>
          <div class="colocation-content">
            <div class="coloc-info">
              <div class="btn-price"><span class="colocation-price"><%= colocation.price %>$</span></div>
              <p><%= colocation.desired_people %> place(s) restante(s)</p>
            </div>
            <h2><%= colocation.title %></h2>
            <p><%= colocation.description %></p>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>

