<div class="text-center">
  <%= image_tag('logo.svg')%>
    <div>
      <%= form_tag colocations_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "villes"
        %>
          <%= submit_tag "rechercher", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% @colocations.each do |colocation| %>
    <%= link_to colocation_path(colocation) do %>
      <div class="card-colocation">
        <div class="profil-pictures">
          <%= cl_image_tag colocation.photos.first.key, class:'w-100' %>
        </div>
        <div class="colocation-content">
          <div class="coloc-info">
            <div class="btn-price"><span class="colocation-price"><%= colocation.price %>$</span></div>
            <p><%= colocation.desired_people %> place(s) restante(s)</p>
          </div>
          <h2><%= colocation.title %></h2>
          <p><%= colocation.description %></p>
        </div>
      </div>
      <% end %>
  <% end %>
</div>

