
<div class="text-center">
  <%= image_tag ("logo.svg"), class: "icone-landing" %>
  <div class="tl-wrapper">
    <%= form_tag colocations_path, method: :get, class: "search-form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control inputform",
        placeholder: "Quelle ville cherche tu ?"
      %>
      <%= number_field_tag :price, params[:price], class: "form-control inputform", placeholder: "Budget" %>
      <button type="submit" class="search-btn">
        <%= image_tag "search.svg" %>
      </button>
    <% end %>
    <h3 class="text-left mt-5 mb-3">Les meilleurs colocs pour toi</h3>
    <% if @colocations.any? %>
      <% @colocations.each do |colocation| %>
        <%= link_to colocation_path(colocation) do %>
          <div class="card-colocation">
            <div class="profil-pictures">
              <%= cl_image_tag colocation.photos.first.key, class:'w-100' %>
            </div>

            <div class="colocation-content">
              <div class="btn-price">
                <span class="colocation-price">
                  <%= goals_percentage(colocation, current_user) %> % de matching
                </span>
              </div>
              <h2><%= colocation.title %></h2>
              <div class="coloc-infos">
                <p> <%= colocation.price %> € /mois </p>
                <p class="desired_people">
                  <i class="fas fa-user-friends"></i>
                  <%= colocation.desired_people %> place(s) restante(s)
                </p>
              </div>
            </div>

          </div>
          <% end %>
      <% end %>
    <% else %>
    <p>Aucun résultat...</p>
  <% end %>
  </div>
</div>

