<div class="profil-container text-center mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <% @colocation.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= "active" if index == 0 %>">
            <%= cl_image_tag photo.key, class:"w-100 d-block carousel-image" %>
          </div>
            <% end %>
      </div>
      </div>
      <div class="container">
        <div class="over-titre">
          <br>
          <h2><%= @colocation.title %></h2>
        </div>
        <div class="btn-price"><span class="colocation-price"><%= @colocation.price %>$</span></div>

          <p class="description"><%= @colocation.description %></p>
          <br>
        <h3>Goals Colocation</h3>
        <br>
      </div>
        <div class="content_chekbox">
          <% @colocation.goals.each do |g| %>
              <div class="jaime"><%= g.full_name %></div>
          <% end %>
        </div>

      
      <div class="content_avatar">
        <h2>Les Colocataires</h2>
          <% @colocation.users.each do |user| %>
            <div class="avatar_box">
              <%= cl_image_tag user.photo.key, class:"avatar-large" %>
              <p class="name_avatar"><%= user.first_name %><br><%= user.personalities.first(3).map(&:icon).join %></p>
              
            </div>
          <% end %>

      </div>

      <%= link_to "CONTACTER LA COLOCATION", colocation_offers_path(@colocation), method: :post, class:'btn-bottom btn-coloc' %>

        <% if @offer %>
          <p class='btn-bottom btn-coloc'>VOUS AVEZ DÉJÂ POSTULÉ POUR CETTE COLOCATION</p>
        <% else %>
          <%= link_to "CONTACTER LA COLOCATION", colocation_offers_path(@colocation), method: :post, class:'btn-bottom btn-coloc' %>
        <% end %>

</div>
