<div class="profil-container text-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <% @colocation.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= "active" if index == 0 %>">
            <%= cl_image_tag photo.key, class:"w-100 d-block carousel-image" %>
          </div>
            <% end %>
      </div>
      </div>
      <div class="container">
        <div class="over-titre">
          <h2><% @colocation.title %></h2>
        </div>
        <div class="btn-price"><span class="colocation-price"><%= @colocation.price %>$</span></div>

          <p class="description"><%= @colocation.description %></p>
        <h3>Le style de la coloc'</h3>
      </div>
        <div class="content_chekbox">
        <% @colocation.goals.each do |g| %>
            <div class="jaime"><%= g.full_name %></div>
          <% end %>
          <!--<p>j'aime pas</p>-->
          <% (Goal.all - @colocation.goals).each do |g| %>
            <div class="jaime_pas"><%= g.full_name %></div>
          <% end %>
        </div>
      </div>
</div>













