<div class="profil-container text-center mb-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @colocation.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= "active" if index == 0 %>">
          <%= cl_image_tag photo.key, class:"w-100 d-block carousel-image" %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="btn-return">
    <%= link_to colocations_path do %>
    <%= image_tag ("return.svg"), method: :post %>
    <% end %>
  </div>


  <div class="profil-content mt-4">
    <h2><%= @colocation.title %></h2>
    <div class="coloc-infos">
      <p><%= @colocation.price %> € /mois</p>
      <p class="desired_people">
        🧓
        <%= @colocation.remaining_places %> place(s) restante(s)
      </p>
    </div>
    <p>📍<%= @colocation.address %></p>


    <p class="description mt-3"><%= @colocation.description %></p>

    <h3 class="mt-4">Ambiance Colocation</h3>

    <div class="content_chekbox">
      <% @colocation.goals.each do |g| %>
        <div class="jaime"><%= g.full_name %></div>
      <% end %>
    </div>

    <div class="content_avatar">
      <h3>Les Colocataires</h3>
      <% @colocation.users.each do |user| %>
        <%= link_to user_path(user), class:"avatar_box" do %>
          <%= cl_image_tag user.photo.key, class:"avatar-large" %>
          <p class="name_avatar">
            <%= user.first_name %>
            <span class="over-titre">25 ans</span><br>
            <span class="users-personalities"><%= user.personalities.first(3).map(&:icon).join %></span>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @offer %>
    <a class='btn-coloc'>Demande envoyée !</a>
  <% else %>
    <%= link_to "Contacter la colocation", colocation_offers_path(@colocation), method: :post, class:'btn-coloc mt-4' %>
  <% end %>
</div>


